@page "/samples/application-info"
@attribute [Authorize]


@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<p>
    Your Access Token is : <strong>@AccessToken</strong>
</p>

@code {
    [Inject]
    public IAccessTokenProvider AccessTokenProvider { get; set; }

    public string AccessToken { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Move this to a service
        var tokenResult = await AccessTokenProvider.RequestAccessToken();

        if (tokenResult.TryGetToken(out var token))
        {
            AccessToken = token.Value;
        }
        await base.OnInitializedAsync();
    }
}
